/*Google fonts*/
/*General Css*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #ffff;
}
a{
	text-decoration: none;
	transition: .3s;
}
img{
	max-width: 100%;
	height: auto;
}
.container{
	width: 80%; /*2 pashe 80% margin create hobe*/
	margin: 0 auto;
}
.section-title{
	text-align: center;
	margin-bottom: 20px;
	
}
.section-title h2{
	color: #2d3436;
	font-size: 35px;
	text-transform: capitalize;
}
section{
	padding: 80px 0;
}
/*Header css*/

header{
	/*background img use korle nicher shob property use korte hobe*/
	background-image: url(img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;
}
.menu{
	padding: 10px 0px;
}
.menu ul{
	display: flex;
	justify-content: center;

}
.menu ul li{
	list-style: none;

}
.menu ul li a{
	color:white;
	padding: 10px 20px;
	display: block; /* upore niche padding pabe na eta na dile*/
	text-transform: uppercase;
	font-weight: 700;
}
.menu ul li a:hover{
	background-color: #FBB116;
	border-radius: 3px;
}


/*about css*/
.about{
	
	background-color: #dfe6e9;
}
.about-desc{
	text-align: center;
}
.about-desc p{
	color: #7f8c8d ;
	line-height: 1.6em;
	font-size: 20px;
	font-style: italic;
} 
/*Service css*/
.services{
	background-color: #fff;
	
}
.service-content{
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
.service-item{
	width: 32%;
	position: relative;
	margin-bottom: 25px;
	overflow: hidden;
}
.service-overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s;
	
}
.service-overlay h4{
	text-transform: capitalize;
	color: #FFC815;
}
.service-item:hover .service-overlay{
	top: 0;
}
.ser-img{
	height: 280px;
}

/*Team css*/
.team{
	background-color: #dfe6e9;
}
.team-content{
	display: flex;
	flex-flow: wrap; /*Responsive korar somoy eta na likhle pasapasi ashbe na*/
	justify-content: space-between;
}
.team-member{
	width: 24%;
}
.team-member-img{
	position: relative;
	overflow: hidden;
}
.team-member-img img{
	margin-bottom: -5px; /*img er modhe default vabe niche margin take soranor jonno*/

}
.team-overlay{
	background-color: rgba(0, 0, 0, 0.8);
	height: 100%;
	width: 100%;
	position: absolute;
	bottom:100%; /*khata*/
	left: 0;
	/*ul er modhe j icon gula tader k majhe anbo ejonno ul er parent team overlay k niche 3 ta property dichi*/
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s;

}
.team-overlay ul{
	list-style:none;
	display: flex; /*ul er vitor j li gula icon oder k pasapasi ante chachi tai li er parent ul ke display flex korlam*/
}
.team-overlay ul li{
	padding: 0px 5px; /*icon gular majhe faka rakha rakhar jonno*/ 
}
.team-overlay ul li a{
	color:#FFC815;
}
.team-member-info{
	padding: 5px 0;
}
.team-member-info h4{
	color:#2C3E50
}
.team-member-info em{
	color: #7f8c8d ;
	font-size: 15px;
}

.team-member-img:hover .team-overlay{
	bottom: 0;
}
.team-img{
	height: 240px;
	width: 250px;
}
/*Contact*/
.contact{}
.contact-content{
	width: 40%;
	margin: 0 auto;
}
.form-group{
	margin-bottom: 20px;

}
.form-group input,
.form-group textarea{
	width: 100%;
	border: none;
	border-bottom: 1px solid #7f8c8d ;
	padding: 5px;
}
.contact-content input[type=submit]{
	width: 30%;
	background-color: #34495e;
	border: none;
	color:#fff;
	padding: 8px 15px;
}
.contact-content input[type=submit]:hover{
	background-color: #2c3e50;
	cursor:pointer;
}
.form-group input:focus{
	outline:0; /*hover korar por sudhu messge er upr border ashbe kintu input er upr ashbe na group kore texarea kore dile tahole msg er upr o r border ashbe na*/
}
footer{
	background-color: #dfe6e9;
	text-align: center;
	padding: 15px 0;
}
footer p a{
	color: #27ae60;

}